/* animations */

@keyframes blinker {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.5;
    }
}

.blink {
    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    animation-duration: 800ms;
}

@keyframes slowBlinker {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.slowBlink {
    animation-name: slowBlinker;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

@keyframes changer {
    from {
        opacity: 1.0;
    }
    to {
        filter: hue-rotate(-70deg) saturate(1.5);
    }
}

.change {
    animation-name: changer;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

/* various */

pre {
    margin: 0;
    padding: 0.2em;
    background: #fff;
    color: #000;
    font-weight: normal;
}

pre em {
    color: #000;
    background: yellow;
}

.nobreak {
    white-space: pre;
}

#map {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.center-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* grids */

.grid-container {
    display: grid;
    justify-content: space-evenly;
    align-content: space-evenly;
    grid-template-columns: 1fr 1fr;
}

.one {
    grid-column: 1 / 2;
    grid-row: 1;
}

.two {
    grid-column: 1 / 2;
    grid-row: 2;
}

.three {
    grid-column: 2;
    grid-row: 1 / 2;
}

.grid-map {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "map  map" "map map";
}

.map {
    grid-area: map;
}

.overlay {
    z-index: 10;
    grid-column: 2 / 4;
    grid-row: 1;
    font-size: 144px;
}

.overlay-2 {
    z-index: 10;
    grid-column: 1 / 4;
    grid-row: 2;
    font-size: 150px;
}

