@keyframes blinker {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.5;
    }
}

.blink {
   animation-name: blinker;
   animation-iteration-count: infinite;
   animation-timing-function: cubic-bezier(1.0,0,0,1.0);
   animation-duration: 800ms;
}

@keyframes emer {
    from {
        color: white
    }
    to {
        color: #fadb03
    }
}

.eming {
    animation-name: emer;
    animation-delay: 7s;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.nobreak {
    white-space: pre;
}

pre {
    margin: 0;
    padding: 0.2em;
    background: #fff;
    color: #000;
    font-weight: normal;
}

pre em {
    color: #000;
    background: #fadb03
}

.black-text {
    color: #34383e;
}

.black-em {
    color: #d13787;
}

#map {
    width: 100%;
    height: 800px;
    z-index: 0;
}

.grid-container {
    display: grid;
    justify-content: space-evenly;
    align-content: space-evenly;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 120px;
}

#first-slide {
    animation-duration: 3s;
    animation-delay: 1s;
}








